<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSSZ} | %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<logger name="com.impetus.kundera.persistence">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.data.cassandra">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
